atomicwrites
appconfigs
HydroSensorReader >= 1.7.4
keyring == 19.2.*
matplotlib == 3.1.*
numpy == 1.19.*
pandas == 1.1.*
psycopg2
pyqt5 == 5.12.*
qtawesome == 1.0.*
qtpy
sqlalchemy == 1.3.*
geoalchemy2
sqlalchemy_utils
pillow
xlsxwriter
xlrd == 1.*
simplekml
