atomicwrites
appconfigs
geoalchemy2
HydroSensorReader >= 1.7.6
keyring == 19.2.*
matplotlib == 3.1.*
numpy == 1.19.*
pandas == 1.1.*
pillow
psycopg2 == 2.8.*
pyqt5 == 5.15.*
qtawesome == 1.0.*
qtpy
simplekml
sqlalchemy == 1.3.*
sqlalchemy_utils
xlrd == 1.*
xlsxwriter
